<!DOCTYPE html>
<html lang="en">
  <head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width,
   initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" media="screen"
   href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen"
   href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  </head>

  <body>
  <div class="container">
    <h2 class="text-muted">snapfinder.org</h2>

    <form class="form-inline" role="form" id="findform">
      <div class="form-group">
	<label class="sr-only" for="zipcode">Zip Code</label>
	<input class="form-control" type="text" id="zipcode" placeholder="Enter zipcode">
      </div>
      <button class="btn btn-success" type="submit">Find</button>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>    
  <script src="js/client.js"></script>
  </body>
</html>
